<div class="container" ng-controller="MainController">

        <!-- Page Header -->
        <div class="row" >
            <div class="col-lg-12" >
                <h1 class="page-header">{{ title }}</h1>
            </div>
        </div>

        <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <input class="form-control" id="focusedInput" type="search" placeholder="Search for awesome examples" ng-model="query">
              </div>
            </div>
        </form>
        <!-- /.row -->

        <!-- Projects Rows -->
        <div class="row">
            <div dir-paginate="example in examples | filter:query | itemsPerPage: 6">
                <div ng-if="$index % 3 == 0" class="clearfix"></div>
                <div class="col-sm-4 portfolio-item">
                    <example-info info="example"></example-info>
                </div>
            </div>
        </div>
        <!-- /.rows -->

        <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>A project by @guardabrazo</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
</div>